includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Call to an undefined static method Inertia\\Inertia::composer\(\).#'
        -
            identifier: missingType.generics
        -
            identifier: missingType.iterableValue
    reportUnmatchedIgnoredErrors: false